<h1>My Calculator</h1>
<div>
  <input type="number" class="custom-select" [value]="first" (change)="firstNumber($event.target.value)">
  <select
    class="custom-select"
    [value]="operator"
    (change)="selectChange($event.target.value)">
    <option value="+">+</option>
    <option value="-">-</option>
    <option value="*">*</option>
    <option value="/">/</option>
  </select>
  <input type="number" class="custom-select" [(ngModel)]="second">
</div>

<div>
  <button class="btn btn-outline-primary" (click)="calculate()">Calculate</button>
</div>

<div>
  <span>Result: {{output}}</span>
</div>
